body {
    width: 350px;
    height: 350;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
p{
    display: inner-flex;
    margin: auto 10px;
    font-size: 25px;
    color: blueviolet;
    border-radius: 5px;
    border: 1px solid lightblue;
    padding: 10px;
}